<footer>
  <div class="container">
    <div class="row">
      <div class="my-auto d-flex justify-content-center gap-4">
        <a *ngFor="let link of links"
           href="{{link[0]}}"
           target="_blank">
          <img class="bigger-on-hover" src="{{link[1]}}" alt="{{link[2]}}"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between mt-3">
        <p class="my-auto text-light">© 2003 — 2023, <a
          class="text-decoration-none text-white-yellow-on-hover fw-semibold" routerLink="/">Кинопоиск</a></p>
        <a class="my-auto text-decoration-none text-white-yellow-on-hover fw-semibold" routerLink="/">Yandex Project</a>
      </div>
    </div>
  </div>
</footer>
