<footer>
  <div class="container">
    <div class="row">
      <div class="my-auto d-flex justify-content-center gap-4">
        <a href="https://vk.com/" target="_blank"><img class="bigger-on-hover"
                                                       src="assets/social-media-icons/vk.svg" alt="vk"/></a>
        <a href="https://twitter.com/" target="_blank"><img class="bigger-on-hover"
                                                            src="assets/social-media-icons/twitter.svg" alt="twitter"/></a>
        <a href="https://telegram.org/" target="_blank"><img class="bigger-on-hover"
                                                             src="assets/social-media-icons/telegram.svg"
                                                             alt="telegram"/></a>
        <a href="https://www.youtube.com/" target="_blank"><img class="bigger-on-hover"
                                                                src="assets/social-media-icons/youtube.svg"
                                                                alt="youtube"/></a>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between">
        <p class="my-auto text-light">© 2003 — 2023, <a class="text-decoration-none text-white-yellow-on-hover fw-semibold" routerLink="/">Кинопоиск</a></p>
        <a class="my-auto text-decoration-none text-white-yellow-on-hover fw-semibold" routerLink="/">Yandex Project</a>
      </div>
    </div>
  </div>
</footer>
