.video-container {
  margin: 25px;
  position: relative;
}

.video-text {
  font-weight: 700;
  position: absolute;
  color: yellow;
  font-size: 2rem;
  top: 110px;
  left: 25px;
}

iframe {
  width: 714px;
  height: 400px;
}

@media(max-width: 800px) {
  .video-text {
    font-size: 1.5rem;
    top: 90px;
  }

  iframe {
    width: 476px;
    height: 267px;
  }
}

@media(max-width: 530px) {
  .video-text {
    font-size: 1rem;
    top: 50px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
