@import 'bootstrap/scss/bootstrap';

header {
  padding: 12px;
  background-color: #222;
}

body {
  background-color: #f0f7f1;
  margin: 0;
  box-sizing: border-box;
}

footer {
  padding: 30px;
  background-color: #222;
}

.big-on-hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}

.big-on-hover:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 8px 6px -6px #6C7A89;
}

.bigger-on-hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}

.bigger-on-hover:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.05);
  box-shadow: 0 8px 6px -6px #6C7A89;
}

.text-white-yellow-on-hover {
  color: #FFFFFF;
}

.text-white-yellow-on-hover:hover {
  color: yellow;
}
