<div class="container">
  <div class="row mt-5">
    <div class="d-flex justify-content-center my-auto">
      <div class="input-group mb-3 search-width">
        <input
          name="query"
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Search..."
          [ngModel]="filter.query"
          (ngModelChange)="queryChange($event)"
          autocomplete="off"
        >
      </div>
    </div>
    <div class="d-flex justify-content-center my-auto input-group mb-3 gap-5">
      <app-selector [sorting]="sortingTypes" (selectedOption)="sortingChange($event)"></app-selector>
      <app-selector [sorting]="sortGenre" (selectedOption)="genreChange($event)"></app-selector>
    </div>
  </div>
  <div class="row" *ngIf="movies | async; let movies">
    <h4 class="text-secondary fw-semibold">Popular Movies</h4>
    <div *ngIf="movies.length === 0" class="d-flex justify-content-around flex-wrap gap-3 p-4">
      <h5 class="text-danger">No such movie</h5>
    </div>
    <div *ngIf="movies.length > 0" class="d-flex justify-content-around flex-wrap gap-3 p-4">
      <app-card
        *ngFor="let movie of movies"
        [movie]="movie"
      ></app-card>
    </div>
  </div>
</div>
