<div class="card card-prop truncate-long-texts animate-img-hover">
  <a [routerLink]="['/movies', movie.id]" class="text-decoration-none">
    <div class="card-rating"
         [ngClass]="+movie.rate >= 7.5 ? 'text-bg-success' : +movie.rate >= 7 ? 'text-bg-secondary' : 'text-bg-danger'">
      <div class="card-rating-text">{{movie.rate}}</div>
      </div>
    <img src="{{'assets/movie-covers/' + movie.img}}" alt="ant-man"/>
    <div class="card-body text-secondary fw-semibold">
      <p class="card-text">{{movie.name.length < 18 ? movie.name : movie.name.substring(0, 18) + '.'}}</p>
    </div>
  </a>
</div>
